p {
  margin-block-start: 0;
  margin-bottom: 5px;
}

.homeContainer {
  background-color: #ffffff;
  font-family: "Montserrat";
  padding: 5% 10%;
}

.headingText {
  font-weight: bold;
}

.totalCounterBox {
  display: block;
}

.countBox {
  min-height: 40px;
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 15px;
}

.countBox h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

.countBox h6 {
  font-size: 1em;
  margin: 0 0 5px 0;
}

.covidTableBox {
  padding: 20px 0;
}

thead tr {
  background-color: rgba(108, 117, 125, 0.0627451);
}

thead tr th {
  font-weight: 600 !important;
}

tr:nth-of-type(even) {
  background-color: rgba(108, 117, 125, 0.0627451);
}

.isRed {
  background-color: rgba(255, 7, 58, 0.12549);
  color: #ff073a;
}

.isGreen {
  background-color: rgba(40, 167, 69, 0.12549);
  color: #28a745;
}

.isBlue {
  background-color: rgba(0, 123, 255, 0.0627451);
  color: #007bff;
}

.isGrey {
  background-color: rgba(108, 117, 125, 0.0627451);
  color: #6c757d;
}

.footer {
  padding: 5% 10%;
  background-color: rgba(108, 117, 125, 0.0627451);
  color: #6c757d;
  font-family: "Montserrat";
  text-align: center;
}

.footer p {
  margin: 20px 0px;
}

.footer a {
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .totalCounterBox {
    display: flex;
    justify-content: space-between;
  }

  .countBox {
    min-width: 100px;
  }
  .footer {
    padding: 5% 10%;
    display: flex;
    justify-content: space-around;
  }
  .footer div {
    flex-basis: 33%;
  }
}

@media screen and (min-width: 981px) {
  .countBox {
    min-width: 150px;
  }
}
