body {
  overflow-x: hidden;
}

strong {
  color: #fff;
}

.center {
  text-align: center;
}
.container {
  color: #212121;
  background-color: #fff;
  padding: 5% 10%;
  height: 100vh;
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.networkChecker {
  margin-left: 10px;
  padding: 10px 0;
  text-align: center;
}

.networkChipOnline {
  background-color: #2ecc71;
  color: #000;
  border-radius: 15px;
  padding: 5px 20px;
}

.networkChipOffline {
  background-color: #c0392b;
  color: #fff;
  border-radius: 15px;
  padding: 5px 20px;
}

p strong {
  font-weight: bold;
}

.animojiImg {
  width: 250px;
}

.coverSecton {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coverInfo {
  text-align: left;
}

.coverTitle {
  font-size: 3em;
}

.coverSubTitle {
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .coverSecton {
    display: block;
  }

  .animojiImg {
    width: 150px;
  }
  .coverTitle {
    font-size: 1.5em;
  }

  .coverSubTitle {
    font-size: 1em;
  }
}
